.ng-k-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.ng-k-framengk {
  width: 100%;
  height: 1152px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.ng-k-main {
  top: 0px;
  left: 0px;
  width: 1920px;
  display: flex;
  padding: 151px 32px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(248, 250, 251, 1);
}
 
.ng-k-container11 {
  gap: 32px;
  width: 1152px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.ng-k-overlay-shadow {
  width: 560px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.0020000000949949026);
}
 
.ng-k-fashion {
  width: 560px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/tq_gd6v0plqjx-xkh-600w.png");
}
 
.ng-k-background-shadow {
  width: 560px;
  height: 898px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}
 
.ng-k-container12 {
  gap: 8px;
  top: 48px;
  left: 48px;
  width: 464px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-heading1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text10 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 23.100000381469727px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text11 {
  color: rgba(73, 85, 101, 1);
  height: auto;
  font-size: 15.100000381469727px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-form {
  gap: 24px;
  top: 148px;
  left: 48px;
  width: 464px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-container14 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-label1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text12 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container15 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-input1 {
  display: flex;
  padding: 13px 16px 14px 48px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
 
.ng-k-container16 {
  width: 398px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-text13 {
  color: rgba(10, 10, 10, 0.5);
  height: auto;
  font-size: 15.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-component11 {
  top: 13.5px;
  left: 16px;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
}
 
.ng-k-container17 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-label2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text14 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 15.100000381469727px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container18 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-input2 {
  display: flex;
  padding: 13px 16px 14px 48px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
 
.ng-k-container19 {
  width: 398px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-text15 {
  color: rgba(10, 10, 10, 0.5);
  height: auto;
  font-size: 15.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-component12 {
  top: 13.5px;
  left: 16px;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
}
 
.ng-k-container20 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-label3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text16 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 15.100000381469727px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container21 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-input3 {
  width: 464px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
 
.ng-k-container22 {
  top: 14px;
  left: 49px;
  width: 398px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-text17 {
  color: rgba(10, 10, 10, 0.5);
  height: auto;
  font-size: 15.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container23 {
  top: 13px;
  left: 49px;
  width: 398px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.ng-k-container24 {
  width: 398px;
  height: 24px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ng-k-component13 {
  top: 15px;
  left: 16px;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
}
 
.ng-k-container25 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-label4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text18 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 15.100000381469727px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container26 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-input4 {
  width: 464px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
 
.ng-k-container27 {
  top: 14px;
  left: 49px;
  width: 398px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-text19 {
  color: rgba(10, 10, 10, 0.5);
  height: auto;
  font-size: 15.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container28 {
  top: 13px;
  left: 49px;
  width: 398px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.ng-k-container29 {
  width: 398px;
  height: 24px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ng-k-component14 {
  top: 15px;
  left: 16px;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
}
 
.ng-k-label5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ng-k-inputmargin {
  width: 16px;
  height: 20px;
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.ng-k-input5 {
  width: 16px;
  height: 16px;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.5px;
}
 
.ng-k-margin {
  display: flex;
  padding: 0 0 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-container30 {
  display: flex;
  align-items: flex-start;
}
 
.ng-k-text20 {
  color: rgba(53, 65, 82, 1);
  height: auto;
  font-size: 15.600000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-button10 {
  display: flex;
  padding: 0 4.389999866485596px 0 0;
  align-items: center;
  justify-content: center;
}
 
.ng-k-text21 {
  color: rgba(212, 133, 133, 1);
  height: auto;
  font-size: 15.399999618530273px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-text22 {
  color: rgba(53, 65, 82, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-button11 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.ng-k-text23 {
  color: rgba(212, 133, 133, 1);
  height: auto;
  font-size: 15.100000381469727px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-button12 {
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 33554400px;
  justify-content: center;
  background-color: rgba(212, 133, 133, 1);
}
 
.ng-k-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 15.100000381469727px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container31 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.ng-k-text25 {
  color: rgba(73, 85, 101, 1);
  height: auto;
  font-size: 15.5px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-button13 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.ng-k-text26 {
  color: rgba(212, 133, 133, 1);
  height: auto;
  font-size: 15.399999618530273px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-container32 {
  top: 756px;
  left: 48px;
  width: 464px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.ng-k-horizontal-divider1 {
  width: auto;
  height: 1px;
  flex-grow: 1;
  border-color: rgba(229, 231, 235, 1);
}
 
.ng-k-container33 {
  display: flex;
  padding: 0 16px;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text27 {
  color: rgba(105, 114, 130, 1);
  height: auto;
  font-size: 13.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-horizontal-divider2 {
  width: auto;
  height: 1px;
  flex-grow: 1;
  border-color: rgba(229, 231, 235, 1);
}
 
.ng-k-container34 {
  gap: 16px;
  top: 800px;
  left: 48px;
  width: 464px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.ng-k-button14 {
  gap: 8px;
  display: flex;
  padding: 12px 71.30999755859375px 12px 71.30000305175781px;
  align-items: center;
  border-color: rgba(208, 213, 219, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 33554400px;
  justify-content: center;
}
 
.ng-k-component15 {
  width: 20px;
  height: 20px;
}
 
.ng-k-text28 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 15.300000190734863px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-button15 {
  gap: 8px;
  display: flex;
  padding: 12px 63.36000061035156px;
  align-items: center;
  border-color: rgba(208, 213, 219, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 33554400px;
  justify-content: center;
}
 
.ng-k-component16 {
  width: 20px;
  height: 20px;
}
 
.ng-k-text29 {
  color: rgba(10, 10, 10, 1);
  height: auto;
  font-size: 14.5px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.ng-k-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  display: flex;
  padding: 0 352px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-tweet-icy-86221091.figma.site-white);
}
 
.ng-k-container35 {
  gap: 320.5px;
  display: flex;
  padding: 0 0.019999999552965164px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.ng-k-container36 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.ng-k-text30 {
  color: rgba(212, 133, 133, 1);
  height: auto;
  text-align: left;
  line-height: 36px;
}
 
.ng-k-nav {
  gap: 32px;
  display: flex;
  align-items: center;
}
 
.ng-k-button16 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.ng-k-text31 {
  color: rgba(54, 65, 83, 1);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.ng-k-button17 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.ng-k-text32 {
  color: rgba(53, 65, 82, 1);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.ng-k-button18 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.ng-k-text33 {
  color: var(--dl-color-tweet-icy-86221091.figma.site-oxfordblue);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.ng-k-button19 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.ng-k-text34 {
  color: var(--dl-color-tweet-icy-86221091.figma.site-oxfordblue);
  height: auto;
  text-align: center;
  line-height: 24px;
}
 
.ng-k-container37 {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.ng-k-button20 {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 33554400px;
  flex-direction: column;
}
 
.ng-k-component17 {
  width: 24px;
  height: 24px;
}
 
.ng-k-button21 {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 33554400px;
  flex-direction: column;
}
 
.ng-k-component18 {
  width: 24px;
  height: 24px;
}
 
.ng-k-link {
  display: contents;
}
 
.ng-k-container38 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.ng-k-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.ng-k-text35 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
